<div class="flex">
  <!-- Sidebar -->
  <div class="fixed flex flex-col left-0 w-14 hover:w-64 md:w-64 bg-gradient-to-r from-blue-900 to-blue-900 h-full text-white transition-all duration-300 border-none z-10 sidebar">
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
      <ul class="flex flex-col py-4 space-y-1">
        <li class="px-5 hidden md:block mb-10 mt-4">
          <div class="flex flex-row items-center h-8">
            <img 
              *ngIf="photo === '0'; else defaultImage"
              class="h-20 w-16 rounded-full" 
              [src]="'http://127.0.0.1:8000/storage/fotos_tecnicos/random.png'" 
              alt="Foto de perfil">
            <ng-template #defaultImage>
              <img 
                class="h-20 w-16 rounded-full" 
                [src]="'http://127.0.0.1:8000/storage/' + photo" 
                alt="Foto de perfil">
            </ng-template>
          </div>
        </li>
        <li class="px-5 hidden md:block">
          <div class="flex flex-row items-center h-8">
            <div class="text-base font-normal tracking-wide text-gray-900 uppercase">Menu</div>
          </div>
        </li>
        <li>
          <a routerLink="inicio" routerLinkActive="active-link" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500"><span class="inline-flex justify-center items-center ml-4"><i class="bi bi-house-door w-5 h-5"></i></span><span class="ml-2 text-sm tracking-wide truncate">Inicio</span></a>
        </li>
        <!--<li>
          <a routerLink="historial" routerLinkActive="active-link" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500"><span class="inline-flex justify-center items-center ml-4"><i class="bi bi-clock-fill"></i></span><span class="ml-2 text-sm tracking-wide truncate">Historial</span></a>
        </li>-->
        <li class="px-5 hidden md:block">
          <div class="flex flex-row items-center mt-5 h-8">
            <div class="text-base font-normal tracking-wide text-gray-900 uppercase">Configuraciones</div>
          </div>
        </li>
        <li>
          <a routerLink="perfil" routerLinkActive="active-link" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6"><span class="inline-flex justify-center items-center ml-4"><i class="bi bi-person"></i></span><span class="ml-2 text-sm tracking-wide truncate">Perfil</span></a>
        </li>
        <li>
          <a (click)="cerrarsesion()" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-blue-800 text-white-600 hover:text-white-800 border-l-4 border-transparent hover:border-blue-500 pr-6 hover:cursor-pointer"><span class="inline-flex justify-center items-center ml-4"><i class="bi bi-box-arrow-left"></i></span><span class="ml-2 text-sm tracking-wide truncate">Cerrar sesión</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>