    <app-nav></app-nav>
    <div class="mt-[88px]">
        <router-outlet></router-outlet>  
    </div>
    <footer class="bg-white mt-12">
        <div class="max-w-screen-xl px-4 py-8 mx-auto space-y-5 overflow-hidden sm:px-6 lg:px-8">
            <div class="flex justify-center mt-3 space-x-6">
                <a href="https://facebook.com" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Facebook</span>
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://instagram.com" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Instagram</span>
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://x.com" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Twitter</span>
                    <i class="bi bi-twitter-x"></i>
                </a>
                <a href="https://github.com/" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">GitHub</span>
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://discord.com/" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Discord</span>
                    <i class="bi bi-discord"></i>
                </a>
            </div>
            <p class="mt-3 text-base leading-6 text-center text-gray-400">
                © 2024 SGMsystem Company. todos los derechos reservados.
            </p>
        </div>
    </footer>

<!--
<div class="flex justify-center items-center h-screen">
    <div class="rounded-full h-20 w-20 bg-violet-800 animate-ping"></div>
</div>
<div class="flex items-center justify-center h-screen">
    <div class="relative">
        <div class="h-24 w-24 rounded-full border-t-8 border-b-8 border-gray-200"></div>
        <div class="absolute top-0 left-0 h-24 w-24 rounded-full border-t-8 border-b-8 border-blue-500 animate-spin">
        </div>
    </div>
</div>

<div class="flex gap-2">
    <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
    <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
    <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
</div>-->