    <app-nav></app-nav>
    <div class="mt-24">
        <router-outlet></router-outlet>  
    </div>

<!--
<div class="flex justify-center items-center h-screen">
    <div class="rounded-full h-20 w-20 bg-violet-800 animate-ping"></div>
</div>
<div class="flex items-center justify-center h-screen">
    <div class="relative">
        <div class="h-24 w-24 rounded-full border-t-8 border-b-8 border-gray-200"></div>
        <div class="absolute top-0 left-0 h-24 w-24 rounded-full border-t-8 border-b-8 border-blue-500 animate-spin">
        </div>
    </div>
</div>

<div class="flex gap-2">
    <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
    <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
    <div class="w-5 h-5 rounded-full animate-pulse bg-blue-600"></div>
</div>-->