.alto{
  height: .1rem;
}
/* Estilos para el paginador de Angular Material */
::ng-deep .mat-paginator {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

::ng-deep .mat-paginator-page-size-label,
::ng-deep .mat-paginator-range-label {
  font-size: 12px;
  color: #000; /* Color del texto */
}

::ng-deep .mat-paginator-icon {
  font-size: 16px;
  color: #000; /* Color de los iconos */
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0; /* Ajuste de padding para el campo de selección de tamaño de página */
}

::ng-deep .mat-select-value-text {
  color: #000; /* Color del texto en el selector de tamaño de página */
}

::ng-deep .mat-option-text {
  color: #000; /* Color del texto de las opciones en el selector de tamaño de página */
}
