<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="imagen random">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Inicia sesión</h2>
    </div>
  
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form [formGroup]="Loginform" class="space-y-6" (ngSubmit)="login()">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Correo electrónico</label>
          <div class="mt-2">
            <input formControlName="email" type="email" id="email" placeholder="alguien@example.com"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <div *ngIf="Loginform.controls['email'].invalid && Loginform.controls['email'].touched" class="text-red-500 text-sm mt-1">
                El Correo electrónico es requerido.
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Contraseña</label>
          </div>
          <div class="mt-2">
            <input formControlName="password" type="password" id="password" placeholder="Contraseña"  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            <div *ngIf="Loginform.controls['password'].invalid && Loginform.controls['password'].touched" class="text-red-500 text-sm mt-1">
                {{ Loginform.controls['password'].hasError('required') ? 'La contraseña es requerida.' : 'La contraseña debe tener al menos 8 caracteres.' }}
            </div>
          </div>
        </div>
  
        <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" [disabled]="Loginform.invalid">Inicia sesión</button>
        </div>
        <a href="" [routerLink]="['/Recoverpass']" >Olvidaste tu contraseña</a>
      </form>
    </div>
  </div>