<div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg border border-gray-200">
  <form [formGroup]="perfilUpdate" (ngSubmit)="actualizarPerfil()" class="space-y-6">
    <h3 class="text-2xl font-semibold mb-8 text-sky-900">Datos Generales</h3>
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700 ml-2 mb-2">Correo</label>
      <input type="email" formControlName="correo" class="mt-1 block w-full px-4 py-3 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
      <div *ngIf="perfilUpdate.get('correo')?.invalid && perfilUpdate.get('correo')?.touched" class="text-red-500 text-sm">El Correo no es válido</div>
    </div>
    <div class="mb-4 flex space-x-4">
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-700 ml-2 mb-2">Nombre</label>
        <input type="text" formControlName="nombre" class="mt-1 block w-full px-4 py-3 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        <div *ngIf="perfilUpdate.get('nombre')?.invalid && perfilUpdate.get('nombre')?.touched" class="text-red-500 text-sm">El Nombre es necesario</div>
      </div>
      
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-700 ml-2 mb-2">Apellidos</label>
        <input type="text" formControlName="apellidos" class="mt-1 block w-full px-4 py-3 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        <div *ngIf="perfilUpdate.get('apellidos')?.invalid && perfilUpdate.get('apellidos')?.touched" class="text-red-500 text-sm">El apellido es necesario</div>
      </div>
    </div>
    
    <div class="mb-4 flex space-x-4">
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-700 ml-2 mb-2">Teléfono</label>
        <input type="text" formControlName="telefono" class="mt-1 block w-full px-4 py-3 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        <div *ngIf="perfilUpdate.get('telefono')?.invalid && perfilUpdate.get('telefono')?.touched" class="text-red-500 text-sm">Teléfono debe ser un número de 10 dígitos</div>
      </div>
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-700 ml-2 mb-2">Domicilio</label>
        <input type="text" formControlName="domicilio" class="mt-1 block w-full px-4 py-3 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        <div *ngIf="perfilUpdate.get('domicilio')?.invalid && perfilUpdate.get('domicilio')?.touched" class="text-red-500 text-sm">Domicilio es requerido</div>
      </div>
    </div>
    <div class="flex justify-start">
      <button type="submit" class="px-4 py-2 bg-gradient-to-r from-sky-800 to-sky-600 text-white rounded-md hover:from-sky-700 hover:to-sky-500">Actualizar Perfil</button>
    </div>
  </form>
</div>


<div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg border border-gray-200 mt-8">
  <form [formGroup]="updatepassword" (ngSubmit)="actualizarPasword()" class="space-y-6"><!--  -->
    <h3 class="text-2xl font-semibold mb-4 text-sky-900">Cambiar Contraseña</h3>
    
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-700 ml-2 mb-2">Contraseña Actual</label>
      <input type="password" formControlName="password" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-full shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
      <div *ngIf="updatepassword.get('password')?.invalid && updatepassword.get('password')?.touched" class="text-red-500 text-sm">Ingresa tu contraseña actual</div>
    </div>
    <div class="mb-4 flex space-x-4">
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-700">Nueva Contraseña</label>
        <input type="password" formControlName="newPassword" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        <div *ngIf="updatepassword.controls['newPassword'].invalid && updatepassword.controls['newPassword'].touched" class="text-red-500 text-sm mt-1">
          {{ updatepassword.controls['newPassword'].hasError('required') ? 'La contraseña es requerida.' : 'La contraseña debe tener un minimo de 8 caracteres.' }}
        </div>
      </div>
      <div class="w-1/2">
        <label class="block text-sm font-medium text-gray-700">Confirmar Nueva Contraseña</label>
        <input type="password" formControlName="confirmPassword" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 sm:text-sm">
        <div *ngIf="updatepassword.get('confirmPassword')?.invalid && updatepassword.get('confirmPassword')?.touched" class="text-red-500 text-sm">Confirmar nueva contraseña es requerido</div>
        <div *ngIf="updatepassword.hasError('notSame') && updatepassword.controls['confirmPassword'].touched" class="text-red-500 text-sm mt-1">
          Las contraseñas no coinciden.
        </div>
      </div>
    </div>
    <div *ngIf="updatepassword.hasError('passwordMismatch')" class="text-red-500 text-sm mb-4">Las contraseñas no coinciden</div>

    <div class="flex justify-start">
      <button type="submit" class="px-4 py-2 bg-gradient-to-r from-sky-800 to-sky-600 text-white rounded-md hover:from-sky-700 hover:to-sky-500">Cambiar Contraseña</button>
    </div>
  </form>
</div>

<div class="max-w-3xl mx-auto p-6 bg-white shadow-md rounded-lg border border-gray-200 mt-8">
  <form (ngSubmit)="cambiarFoto()" class="space-y-6">
    <h3 class="text-2xl font-semibold mb-4 text-sky-900">Cambiar Foto del Perfil</h3>
    
    <div>
      <label class="block text-sm font-medium text-gray-700" for="file_input">Subir Foto</label>
      <input type="file" (change)="onFileSelected($event)" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" id="file_input" aria-describedby="file_input_help">
      <p class="mt-1 text-sm text-gray-500" id="file_input_help">SVG, PNG, JPG o GIF (MAX. 800x400px).</p>
      <div *ngIf="errorMessage" class="text-red-500 text-sm">{{ errorMessage }}</div>
    </div>

    <div class="flex justify-start mt-4">
      <button type="submit" class="px-4 py-2 bg-gradient-to-r from-sky-800 to-sky-600 text-white rounded-md hover:from-sky-700 hover:to-sky-500">Cambiar Foto</button>
    </div>
  </form>
</div>