<nav *ngIf="mostrarNavbar" class="fixed top-0 left-0 w-full bg-white border-gray-200 shadow-b-md z-50">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center text-xl font-semibold whitespace-nowrap text-gray-900"><span class="text-sky-800 font-serif">SGM</span>system</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div class="hidden w-full md:flex md:items-center md:justify-center md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-white md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <li>
          <div class="relative hover:border-b-2 hover:border-sky-700" routerLinkActive="border-b-2 border-sky-700" [routerLinkActiveOptions]="{exact: false}">
            <a routerLink="/WelcomeAdmin/inicio" routerLinkActive="border-b-2 border-sky-700" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0" (click)="other()">Home</a>
          </div>
        </li>
        <li>
          <div class="relative hover:border-b-2 hover:border-sky-700" routerLinkActive="border-b-2 border-sky-700" [routerLinkActiveOptions]="{exact: false}">
            <button type="button" class="inline-flex items-center justify-center py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 focus:outline-none" (click)="toggleMenuTecnicos()">
              <span class="pr-1"><i class="bi bi-person-standing"></i></span>Técnicos <span class="pl-1"><i class="bi bi-caret-down"></i></span>
            </button>
            <ul class="absolute {{ mostrarMenuTecnicos ? 'block' : 'hidden' }} bg-white shadow-lg rounded mt-2 w-32">
              <li><a routerLink="/WelcomeAdmin/tecRegistro" class="block py-2 px-4 text-gray-900 hover:bg-gray-100">Registrar Técnico</a></li>
              <li><a routerLink="/WelcomeAdmin/listaTecnicos" class="block py-2 px-4 text-gray-900 hover:bg-gray-100">Lista de Técnicos</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="relative hover:border-b-2 hover:border-sky-700" routerLinkActive="border-b-2 border-sky-700" [routerLinkActiveOptions]="{exact: false}">
            <button type="button" class="inline-flex items-center justify-center py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 focus:outline-none" (click)="toggleMenuEquipos()">
              <span class="pr-1"><i class="bi bi-pc"></i></span>Equipos <span class="pl-1"><i class="bi bi-caret-down"></i></span>
            </button>
            <ul class="absolute {{ mostrarMenuEquipos ? 'block' : 'hidden' }} bg-white shadow-lg rounded mt-2 w-32">
              <li><a routerLink="/WelcomeAdmin/registroEquipos" class="block py-2 px-4 text-gray-900 hover:bg-gray-100">Registrar Equipo</a></li>
              <li><a routerLink="/WelcomeAdmin/listaEquipos" class="block py-2 px-4 text-gray-900 hover:bg-gray-100">Lista de Equipos</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div  class="relative hover:border-b-2 hover:border-sky-700" routerLinkActive="border-b-2 border-sky-700" [routerLinkActiveOptions]="{exact: false}">
            <a routerLink="/WelcomeAdmin/lista-asignados" routerLinkActive="border-b-2 border-sky-700" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0" (click)="other()">Asignados</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="relative group">
      <div class="absolute inset-0 flex justify-center items-center">
        <div class="hidden group-hover:flex rounded-full h-12 w-12 bg-sky-100 animate-ping hover:cursor-pointer" (click)="toggleMenuOpciones()"></div>
      </div><!--https://sgmsystem.proyectoinutvm.com/backend/backend/public-->
      <img src="http://127.0.0.1:8000{{photo}}" alt="Profile" class="w-12 h-12 rounded-full cursor-pointer" (click)="toggleMenuOpciones()">
      <!-- Menú desplegable de opciones -->
      <ul class="absolute right-0 {{ mostraropciones ? 'block' : 'hidden' }} bg-white shadow-lg rounded mt-2 w-40">
        <li><a routerLink="/WelcomeAdmin/perfil" class="block py-2 px-4 text-gray-900 hover:text-emerald-600 hover:bg-gray-200"><i class="bi bi-person-square"></i> Ver Perfil</a></li>
        <li><p class="block py-2 px-4 text-gray-900 hover:text-red-600 hover:cursor-pointer hover:bg-gray-200" (click)="cerrarSesion()"><i class="bi bi-box-arrow-left"></i> Cerrar Sesion</p></li>
      </ul>
    </div>
  </div>
</nav>