<!-- Contenedor Principal -->
<div class="relative max-w-6xl pt-10 mx-auto h-2/4">
  <h1 class="text-3xl font-bold mb-6 text-center">Lista de Equipos para mantenimiento Preventivo</h1>
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white shadow-lg w-11/12 mx-auto text-sm">
      <thead class="bg-gradient-to-t from-purple-950 to-gray-800 rounded-t-lg text-white">
        <tr>
          <th class="px-4 py-2 text-center font-medium">Equipo</th>
          <th class="px-4 py-2 text-center font-medium">RAM</th>
          <th class="px-4 py-2 text-center font-medium">Procesador</th>
          <th class="px-4 py-2 text-center font-medium">Almacenamiento</th>
          <th class="px-4 py-2 text-center font-medium">Tipo</th>
          <th class="px-4 py-2 text-center font-medium">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos2; let i = index; trackBy: trackById" [ngClass]="{'bg-white': i % 2 === 0, 'bg-teal-50': i % 2 !== 0}" class="text-xs border-b border-zinc-500">
          <td class="px-4 py-5 break-words text-center text-gray-600">{{ equipo.marca }} {{ equipo.modelo }}</td>
          <td class="px-4 py-5 break-words text-center text-gray-600">{{ equipo.ram }}</td>
          <td class="px-4 py-5 break-words text-center text-gray-600">{{ equipo.procesador }}</td>
          <td class="px-4 py-5 break-words text-center text-gray-600">{{ equipo.almacenamiento }}</td>
          <td class="px-4 py-5 break-words text-center text-gray-600">{{ equipo.tipo === 1 ? 'Escritorio' : equipo.tipo === 2 ? 'Portátil' : '' }}</td>
          <td class="px-4 py-5 break-words text-center text-gray-600">
            <span *ngIf="equipo.estado_asignacion === 'Asignado'" class="text-red-500">Equipo asignado</span>
            <button *ngIf="equipo.estado_asignacion !== 'Asignado'" (click)="openModal2(equipo)" class="text-blue-500 hover:text-blue-700">Asignar</button>
          </td>
        </tr>
        <tr *ngIf="equipos2.length === 0" class="text-xs">
          <td colspan="8" class="w-full text-center">Aun no hay equipos registrados.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal para Preventivo -->
<div [class.hidden]="!isModalOpen2" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
  <div id="modal-asignar3" class="bg-white rounded-lg shadow p-6 w-full max-w-sm relative">
    <div class="flex justify-between items-center border-b pb-4">
      <h3 class="text-xl font-semibold text-gray-900">Asignar Equipo</h3>
      <button (click)="closeModal2()" class="text-gray-500 hover:text-gray-700">
        <i class="bi bi-x-lg w-6 h-6"></i>
      </button>
    </div>
    <form [formGroup]="asignarquipo2" (ngSubmit)="asignarEquipo2()">
      <div class="py-4">
        <p class="text-gray-600 text-xs">¿A quién deseas asignar el equipo {{ equipoSeleccionado2?.marca }} {{ equipoSeleccionado2?.modelo }}?</p>
        <input type="text" formControlName="id_equipo" id="id_equipo" class="hidden">
        <label for="id_tecnico" class="block text-sm font-medium leading-6 text-gray-900">Selecciona un técnico</label>
        <div class="mt-2">
          <select formControlName="id_tecnico" id="id_tecnico" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 mt-5">
            <option value="" selected>--Selecciona un técnico--</option>
            <option *ngFor="let tecnico of tecnicos2" [value]="tecnico.id">{{ tecnico.nombre }} {{ tecnico.apellidos }}</option>
            <option *ngIf="!tecnicos2.length" value="" selected>No se encontraron técnicos</option>
          </select>
          <div *ngIf="asignarquipo2.controls['id_tecnico'].invalid && asignarquipo2.controls['id_tecnico'].touched" class="text-red-500 text-sm mt-1">
            Selecciona un técnico
          </div>
        </div>
        <div class="mt-2">
          <label for="comentario" class="text-sm">Agrega comentarios adicionales</label>
          <textarea formControlName="comentario" id="comentario" class="shadow-sm text-xs text-black border-gray-800 mt-6 w-full bg-gray-100"></textarea>
          <div *ngIf="asignarquipo2.controls['comentario'].invalid && asignarquipo2.controls['comentario'].touched" class="text-red-500 text-sm mt-1">
            Agrega un comentario
          </div>
        </div>
      </div>
      <div class="flex justify-end space-x-4 pt-4 border-t">
        <div class="flex">
          <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 text-sm">Asignar</button>
        </div>
        <button (click)="closeModal2()" class="px-4 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 hover:cursor-pointer">Cancelar</button>
      </div>
    </form>
  </div>
</div>