.bi-x-lg {
  width: 1.5rem;
  height: 1.5rem;
}
/* Añade esto al archivo de estilos del componente */
.fixed {
  z-index: 1050; /* O un valor mayor si es necesario */
}

.relative {
  position: relative;
  z-index: 1; /* Asegúrate de que el contenedor esté debajo del modal */
}
