/* Ejemplo de estilos adicionales que puedes ajustar en tu componente CSS */

.fixed.top-4.right-4 {
    z-index: 9999; /* Asegura que la notificación esté siempre al frente */
  }
/* Añadimos una animación para que la notificación entre desde la derecha */
@keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  /* Añadimos una animación para que la notificación salga hacia la derecha */
  @keyframes slide-out-right {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  
  /* Clases de Tailwind CSS extendidas para aplicar animaciones */
  .animation-slide-in-right {
    animation: slide-in-right 0.5s ease-out forwards;
  }
  
  .animation-slide-out-right {
    animation: slide-out-right 0.7s ease-out forwards;
  }
    