<div class="p-6 bg-white shadow-md rounded-lg">
  <p class="text-lg font-bold text-gray-900 mb-4">{{ Fecha() }}</p>
</div>

<div class="flex justify-center space-x-4 p-6">
  <div class="relative border border-stone-300 shadow-lg p-4 bg-white rounded-lg">
    <h1 class="text-2xl text-center mb-4">Equipos</h1>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorSchemeEquipos"
      [results]="pieChartDataEquipos"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut">
    </ngx-charts-pie-chart>

    <div *ngIf="showLegend" class="absolute top-0 right-0 p-4 bg-gray-600 text-white rounded-lg text-xs mr-3 mt-3">
      <div class="flex flex-col space-y-2">
        <div class="flex items-center">
          <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': colorSchemeEquipos.domain[0]}"></span>
          Asignados: {{ equiposAsignados }}
        </div>
        <div class="flex items-center">
          <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': colorSchemeEquipos.domain[1]}"></span>
          No Asignados: {{ equiposNoAsignados }}
        </div>
        <div class="flex items-center">
          <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': '#000'}"></span>
          Total Equipos: {{ totalEquipos }}
        </div>
      </div>
    </div>
  </div>

  <div class="relative border border-stone-300 shadow-lg p-4 bg-white rounded-lg">
    <h1 class="text-2xl text-center mb-4">Técnicos</h1>
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorSchemeTecnicos"
      [results]="pieChartDataTecnicos"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut">
    </ngx-charts-pie-chart>

    <div *ngIf="showLegend" class="absolute top-0 right-0 p-4 bg-gray-600 text-white rounded-lg text-xs mr-3 mt-3">
      <div class="flex flex-col space-y-2">
        <div class="flex items-center">
          <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': colorSchemeTecnicos.domain[0]}"></span>
          Habilitados: {{ habilitados }}
        </div>
        <div class="flex items-center">
          <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': colorSchemeTecnicos.domain[1]}"></span>
          Inhabilitados: {{ inhabilitados }}
        </div>
        <div class="flex items-center">
          <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': '#000'}"></span>
          Total Técnicos: {{ habilitados + inhabilitados }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative border border-stone-500 shadow-lg p-4 bg-white rounded-lg">
  <h1 class="text-2xl text-center mb-4">Equipos asignados</h1>
  <ngx-charts-pie-chart
    [view]="view"
    [scheme]="colorSchemeEquipos"
    [results]="pieChartDataEquipos"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut">
  </ngx-charts-pie-chart>

  <div *ngIf="showLegend" class="absolute top-0 right-0 p-4 bg-gray-600 text-white rounded-lg text-xs">
    <div class="flex flex-col space-y-2">
      <div class="flex items-center">
        <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': colorSchemeEquipos.domain[0]}"></span>
        Asignados: {{ equiposAsignados }}
      </div>
      <div class="flex items-center">
        <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': colorSchemeEquipos.domain[1]}"></span>
        No Asignados: {{ equiposNoAsignados }}
      </div>
      <div class="flex items-center">
        <span class="block w-4 h-4 rounded-full mr-2" [ngStyle]="{'background-color': '#000'}"></span>
        Total Equipos: {{ totalEquipos }}
      </div>
    </div>
  </div>
</div>