
<div class="w-full flex">
  <!--slidebar-->
  <!--texto y demas cosas-->
  <div class="w-4/6">
    <div class="">
      <!-- Apartado con título y frase -->
      <div class="text-center mt-2 mb-12">
        <h1 class="text-3xl font-bold text-gray-900">SGM System</h1>
        <p class="text-xl text-gray-700 mt-2">“El mantenimiento preventivo es la clave para evitar problemas mayores en el
          futuro.”</p>
      </div>
    
      <!-- Contenedor con título y subtítulos -->
      <div class="w-full max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md mb-12">
        <h2 class="text-2xl font-bold text-gray-900 mb-4">Mantenimiento de equipos de computo</h2>
        <div class="grid grid-cols-2 gap-4">
          <div class="p-4 bg-gray-100 rounded-lg shadow-sm">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Mantenimiento Correctivo</h3>
            <p class="text-gray-600">Consiste en la reparación de un activo o parte de éste después de haber sufrido una
              avería. No obstante, se puede programar para que afecte en la menor medida posible a la disponibilidad del
              activo y, en consecuencia, a la producción. </p>
          </div>
          <div class="p-4 bg-gray-100 rounded-lg shadow-sm">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Mantenimiento Preventivo</h3>
            <p class="text-gray-600">Este consiste en llevar a cabo operaciones programadas que se realizarán sin importar
              cuál es el estado actual del activo. Se sustituirán las piezas de las máquinas de manera periódica según las
              indicaciones del fabricante.</p>
          </div>
          <!-- Puedes agregar más subtítulos aquí -->
        </div>
      </div>
    
      <!-- Contenedor identificable para las imágenes -->
      <div class="w-full max-w-4xl mx-auto p-6 bg-gray-50 rounded-lg shadow-md mb-12">
        <h2 class="text-2xl font-bold text-gray-900 mb-4">Plan de mantenimiento de equipos de computo</h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <div class="w-50 h-45 overflow-hidden rounded-md bg-gray-200 relative group mx-auto">
            <img src="assets/computo-tecnologia.jpg" alt="Imagen informativa"
              class="h-full w-full object-cover object-center group-hover:opacity-75">
            <div
              class="absolute bottom-0 left-0 right-0 bg-gray-800 bg-opacity-75 p-4 text-white transition-all duration-300 group-hover:h-full h-10 overflow-hidden flex flex-col justify-end">
              <h3 class="text-lg font-bold text-center">LA RECOPILACIÓN DE LA INFORMACIÓN
                'Para el diagnóstico de fallos'
              </h3>
              <p class="text-sm mt-2">Los métodos interactivos clave para recopilar información que puede utilizar en el
                mantenimiento de los equipos de cómputo pueden ser: entrevistas directas, cuestionarios, llenado de formato
                de reporte de la falla del equipo son necesarios para que el personal que se dedica a este tipo de
                mantenimiento tenga una clara idea de donde atacar el problema ya sea de hardware o software.</p>
            </div>
          </div>
          <!-- Copia y pega el bloque anterior para cada recuadro -->
          <div class="w-45 h-45 overflow-hidden rounded-md bg-gray-200 relative group mx-auto">
            <img src="assets/Conexion.png" alt="Imagen informativa"
              class="h-full w-full object-cover object-center group-hover:opacity-75">
            <div
              class="absolute bottom-0 left-0 right-0 bg-gray-800 bg-opacity-75 p-4 text-white transition-all duration-300 group-hover:h-full h-10 overflow-hidden flex flex-col justify-end">
              <h3 class="text-lg font-bold text-center">'Las herramientas y contar con el kit básico'</h3>
              <p class="text-sm mt-2">Contar con el adecuado antivirus, el cual, es un programa que ayuda a proteger su
                computadora contra la mayoria de los virus, worms, troyanos y otros invasores indeseados que puedan infectar
                su ordenador.</p>
            </div>
          </div>
          <div class="w-50 h-65 overflow-hidden rounded-md bg-gray-200 relative group mx-auto">
            <img src="assets/R.jpeg" alt="Imagen informativa"
              class="h-full w-full object-cover object-center group-hover:opacity-75">
            <div
              class="absolute bottom-0 left-0 right-0 bg-gray-800 bg-opacity-75 p-4 text-white transition-all duration-300 group-hover:h-full h-10 overflow-hidden flex flex-col justify-end">
              <h3 class="text-lg font-bold text-center">'Monitoreo del desempeño de los equipos'</h3>
              <p class="text-sm mt-2">El monitoreo de sistemas es un programa que permite verificar sistemáticamente el
                desempeño y la disponibilidad de los elementos críticos de un equipo de cómputo instalado en el Centro de
                Datos, a través de la identificación y el aislamiento de problemas. Fue diseñado para empresas que necesitan
                mantener un desempeño confiable y escalable en sus equipos y aplicaciones, y que cuentan con escaso personal
                técnico.</p>
            </div>
          </div>
          <div class="w-50 h-65 overflow-hidden rounded-md bg-gray-200 relative group mx-auto">
            <img src="assets/system copy.jpg" alt="Imagen informativa"
              class="h-full w-full object-cover object-center group-hover:opacity-75">
            <div
              class="absolute bottom-0 left-0 right-0 bg-gray-800 bg-opacity-75 p-4 text-white transition-all duration-300 group-hover:h-full h-10 overflow-hidden flex flex-col justify-end">
              <h3 class="text-lg font-bold text-center">'Análisis de la información'</h3>
              <p class="text-sm mt-2">El análisis de la información puede definirse como la aplicación de técnicas de
                procesamiento automático del lenguaje natural, de clasificación automática y de representación gráfica, del
                contenido cognitivo (conocimientos) y factual (fecha, lengua, tipo de publicación) de los datos
                bibliográficos (o textuales). Esta definición corresponde al análisis asistido por computador, por el
                análisis de la información se entiende la fase de interpretación que el usuario realiza de una manera
                directa y manual.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-4/12">
    <!--Calendario-->
    <div class="mx-auto p-2 w-44 mt-8">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden h-full">
        <div class="flex items-center justify-between px-2 py-1 bg-cyan-900">
          <span class="text-white text-xs cursor-pointer" (click)="prevMonth()">
            <i class="bi bi-arrow-left"></i>
          </span>
          <h2 class="text-white text-xs">{{ currentMonthName }} {{ currentYear }}</h2>
          <span class="text-white text-xs cursor-pointer" (click)="nextMonth()">
            <i class="bi bi-arrow-right"></i>
          </span>
        </div>
        <table class="w-full text-center border-collapse">
          <thead>
            <tr>
              <th *ngFor="let day of daysOfWeek" class="text-xs py-1">{{ day }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let week of calendarWeeks">
              <td *ngFor="let day of week"
                  [ngClass]="{'bg-sky-600 text-white hover:cursor-pointer': isToday(day)}"
                  class="text-xs py-1">
                {{ day !== undefined ? day : '' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="w-full text-center">
      <p class="text-xs font-sans text-gray-900 mb-4">{{ Fecha() }}</p>
    </div>


    <!-- GRAFICAS - Equipos -->
    <div class="ml-5 w-72">
      <div class="border border-stone-300 shadow-lg p-1 bg-slate-100 rounded-lg h-64 relative">
        <h1 class="text-lg text-center mb-1">Equipos</h1>
        <div class="w-full h-full">
          <ngx-charts-pie-chart
            [scheme]="colorSchemeEquipos"
            [results]="pieChartDataEquipos"
            [explodeSlices]="explodeSlices"
            [labels]="showLabels"
            [doughnut]="doughnut"
            [animations]="true"
            class="w-full h-full">
          </ngx-charts-pie-chart>
        </div>
        <div class="absolute top-0 right-0 p-1 bg-gray-600 text-white rounded-lg w-24 mt-2 mr-2">
          <div class="flex flex-col space-y-1">
            <div class="flex items-center text-[0.556rem]">
              <span class="block w-2 h-2 rounded-full mr-1" [ngStyle]="{'background-color': colorSchemeEquipos.domain[0]}"></span>
              Asignados: {{ equiposAsignados }}
            </div>
            <div class="flex items-center text-[0.556rem]">
              <span class="block w-2 h-2 rounded-full mr-1" [ngStyle]="{'background-color': colorSchemeEquipos.domain[1]}"></span>
              No Asignados: {{ equiposNoAsignados }}
            </div>
            <div class="flex items-center text-[0.556rem]">
              <span class="block w-2 h-2 rounded-full mr-1" [ngStyle]="{'background-color': '#000'}"></span>
              Total Equipos: {{ totalEquipos }}
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="relative w-full overflow-hidden">
      <!-- Carousel Container -->
      <div class="flex transition-transform duration-300" [ngStyle]="{'transform': 'translateX(' + translateX + '%)'}">
        <!-- Slide 1 -->
        <div class="flex-shrink-0 w-full flex justify-center">
          <div class="ml-5 w-72 mt-10">
            <div class="border border-stone-300 shadow-lg p-1 bg-slate-100 rounded-lg h-64 relative">
              <h1 class="text-xs pl-16 mb-1">Técnicos</h1>
              <div class="w-full h-full">
                <ngx-charts-pie-chart
                  [scheme]="colorSchemeTecnicos"
                  [results]="pieChartDataTecnicos"
                  [explodeSlices]="explodeSlices"
                  [labels]="showLabels"
                  [doughnut]="doughnut"
                  [animations]="true"
                  class="w-full h-full">
                </ngx-charts-pie-chart>
              </div>
              <div class="absolute top-0 right-0 p-1 bg-gray-600 text-white rounded-lg w-24 mt-2 mr-2">
                <div class="flex flex-col space-y-1">
                  <div class="flex items-center text-[0.556rem]">
                    <span class="block w-2 h-2 rounded-full mr-1" [ngStyle]="{'background-color': colorSchemeTecnicos.domain[0]}"></span>
                    Habilitados: {{ habilitados }}
                  </div>
                  <div class="flex items-center text-[0.556rem]">
                    <span class="block w-2 h-2 rounded-full mr-1" [ngStyle]="{'background-color': colorSchemeTecnicos.domain[1]}"></span>
                    Inhabilitados: {{ inhabilitados }}
                  </div>
                  <div class="flex items-center text-[0.556rem]">
                    <span class="block w-2 h-2 rounded-full mr-1" [ngStyle]="{'background-color': '#000'}"></span>
                    Total Técnicos: {{ habilitados + inhabilitados }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="flex-shrink-0 w-full flex justify-center">
          <div class="ml-5 w-72 mt-10">
            <div class="border border-stone-300 shadow-lg p-1 bg-slate-100 rounded-lg">
              <h1 class="text-lg text-center mb-1">Porcentaje de Técnicos</h1>
              <ngx-charts-bar-vertical
                [results]="barChartDataTecnicos"
                [scheme]="colorSchemeTecnicos"
                [showXAxis]="true"
                [showYAxis]="true"
                [gradient]="false"
                [xAxis]="true"
                [yAxis]="true"
                [legend]="false"
                [showDataLabel]="true"
                [dataLabelFormatting]="percentageTickFormatting">
              </ngx-charts-bar-vertical>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Buttons -->
      <button (click)="prevSlide()" class="absolute top-1/2 left-0 transform -translate-y-1/2 bg-gray-200 text-white rounded-full p-1.5 hover:bg-gray-400">
        &#10094;
      </button>
      <button (click)="nextSlide()" class="absolute top-1/2 right-0 transform -translate-y-1/2 bg-gray-200 text-white rounded-full p-1.5 hover:bg-gray-400">
        &#10095;
      </button>
    </div>    
    
  </div>
</div>