<div class="max-w-6xl mx-auto pt-10 h-2/4">
    <h1 class="text-3xl font-bold mb-6 text-center">Lista de Equipos para mantenimiento preventivo</h1>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-lg w-11/12 mx-auto text-sm">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">#</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Marca</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Modelo</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">RAM</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Procesador</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Almacenamiento</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Tipo</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equi of equipos2" class="odd:bg-gray-50 even:bg-white">
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equi.id }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equi.marca }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equi.modelo }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equi.ram }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equi.procesador }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equi.almacenamiento }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">
              {{ equi.tipo == 1 ? 'Escritorio' : equi.tipo == 2 ? 'Portátil' : '' }}
          </td>
            <td class="px-4 py-2 border-b text-center">
              <button class="text-blue-500 hover:text-blue-700">Asignar</button>
              <button class="text-red-500 hover:text-red-700 ml-2">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="max-w-6xl mx-auto mt-28 h-2/4">
    <h1 class="text-3xl font-bold mb-6 text-center">Lista de Equipos para mantenimiento Correctivo</h1>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-lg w-11/12 mx-auto text-sm">
        <thead>
          <tr class="bg-gray-200">
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">#</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Marca</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Modelo</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">RAM</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Procesador</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Almacenamiento</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Tipo</th>
            <th class="px-4 py-2 border-b text-center text-gray-700 font-medium">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipo of equipos" class="odd:bg-gray-50 even:bg-white">
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equipo.id }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equipo.marca }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equipo.modelo }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equipo.ram }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equipo.procesador }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">{{ equipo.almacenamiento }}</td>
            <td class="px-4 py-2 border-b break-words text-center text-gray-600">
                {{ equipo.tipo == 1 ? 'Escritorio' : equipo.tipo == 2 ? 'Portátil' : '' }}
            </td>
            <td class="px-4 py-2 border-b text-center">
              <button class="text-blue-500 hover:text-blue-700" routerLink="../asignar">Asignar</button>
              <button class="text-red-500 hover:text-red-700 ml-2">Cancelar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>