<div class="max-w-6xl pt-5 mx-auto">
  <div class="flex justify-center mb-4">
    <button (click)="selectTab('preventivo')" [ngClass]="{'bg-blue-500 text-white': selectedTab === 'preventivo', 'bg-gray-200': selectedTab !== 'preventivo'}" class="px-4 py-2 rounded-lg mx-2">
      Preventivo
    </button>
    <button (click)="selectTab('correctivo')" [ngClass]="{'bg-blue-500 text-white': selectedTab === 'correctivo', 'bg-gray-200': selectedTab !== 'correctivo'}" class="px-4 py-2 rounded-lg mx-2">
      Correctivo
    </button>
  </div>

  <!-- Tab Content -->
  <div *ngIf="selectedTab === 'preventivo'">
    <app-preventivo></app-preventivo>
  </div>
  <div *ngIf="selectedTab === 'correctivo'">
    <app-correctivo></app-correctivo>
  </div>
</div>